<main class="content">
  <!--Search Bar -->


  {{> searchbar}}

  <!-- End of Filter Search Bar -->

  <!--Item Listing-->
  <section id="items">
    {{#each itemDatas}}
      {{> item}}
    {{/each}}

  </section>

  <!-- End of Item Listing -->

</main>

<!-- Start of Button to Add Post of Recipe -->

{{> modal}}

<!-- End of Button to Add Post of Recipe -->
